{% extends "base.html" %}


{% block content %}

<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgb(255, 255, 255);
        width: 400px !important;
        border-radius: 20px;
        padding: 25px 25px 15px 25px !important;
        margin: 20px auto !important
    }

    form h4{
        margin-bottom: 20px !important;
        text-align: center !important
    }

    form p{
        text-align: center
    }

    form small{
        color: red
    }



</style>



<form action="" method='POST'>
    {% csrf_token %}
    <h4>¡Bienvenido!</h4>

    <div class="mb-3">
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="mail@example.com">
    </div>

      <div class="mb-3">
        <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
      </div>

    <div class="container">
      <button class="btn btn-primary mx-auto d-block" style="width: 80%; margin: 10px auto;">Inicia sesión </button>
    </div>
    <p>¿Aún no tienes una cuenta? <a href="{% url 'signup' %}">Regístrate</a></p>
        

</form>
    
{% endblock content %}
    